{% extends "base.html" %}
{% block title %}Results!{% endblock %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Here's what we found.</h1>
	<p>Our engine returned a total of {{ datalength }} results. <b>Click on the serial number to view more details about the case.</b></p>
	
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered table-xs" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Sr. No.</th>
							<th>IncidntNum</th>
							<th>CrimeClass</th>
							<th>PdDistrict</th>
							<th>DayOfWeek</th>
							<th>Date</th>
							<th>Time</th>
							<th>Resolution</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>Sr. No.</th>
							<th>IncidntNum</th>
							<th>CrimeClass</th>
							<th>PdDistrict</th>
							<th>DayOfWeek</th>
							<th>Date</th>
							<th>Time</th>
							<th>Resolution</th>
						</tr>
					</tfoot>
					<tbody>
							{%for i in range(0, datalength)%}
							<tr>
								<form action="\detail" method='POST'><td><input name="usersr" type="submit" value="{{ data.loc[i, 'SrNo'] }}" style="background: none; color: inherit; border: none; padding: 0; font: inherit; cursor: pointer; outline: inherit;"></td></form>
								<td>{{ data.loc[i, 'IncidntNum'] }}</td>
								<td>{{ data.loc[i, 'CrimeClass'] }}</td>
								<td>{{ data.loc[i, 'PdDistrict'] }}</td>
								<td>{{ data.loc[i, 'DayOfWeek'] }}</td>
								<td>{{ data.loc[i, 'Date'] }}</td>
								<td>{{ data.loc[i, 'Time'] }}</td>
								<td>{{ data.loc[i, 'Resolution'] }}</td>
							</tr>
							{%endfor%}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
{% endblock %}